{% extends "base.html" %}
{% load static %}
{% block title %}
Blog
{% endblock title %}

{% block content %}
<div class="inner-banner py-5">
    <section class="kinging-breadcrumb text-left py-sm-5 ">
        <div class="container">
            <div class="w3breadcrumb-gids">
                <div class="w3breadcrumb-left text-left">
                    <br><br>
                    <h4 class="inner-w3-title mt-lg-5 mt-4 text-center">{{post.title}}</h4>
                </div>
                <div class="w3breadcrumb-right">
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
</div>
<section  class="kinging-mag-main">
    <br><br>
	<div  class="mag-content-inf py-5">
		<div class="container">
			<div  class="blog-inner-grids py-md-4 row">	
                {% if post %}
				<div class="mag-content-left-hny col-lg-7">
                    {% if post.leadimg %}
                    <img src="{{post.leadimg.url}}" alt="" class="img-fluid radius-image py-3">
                    {% endif %}
                    <h5 ><a href="#">{{post.title}}</a></h5>
                    <div class="sub-meta mt-3">
                        <span> <i class="far fa-clock"></i> {{ post.date_posted }} By {{ post.author }}</span>
                        <p>{{post.body | safe}}</p>	
                    </div>
					   
                     {% endif %}
					
			    </div>          
				<div class="mag-content-right-hny col-lg-4 mt-3">
					<aside>
						<div class="side-bar-hny-recent mb-2">
							<div style="background-color: #8b8b8b1f!important;" class="card-body mb-3">
                                <h4 class=" text-center">OUR ROOMS</h4>
                            </div>
							<div class="mag-small-post dont-miss-grids-inf">
								<div class="maghny-gd-1">
									{% if rooms %}
							        {% for item in rooms %}
									<div  class="card mb-3 text-center">
                                        <a href="{% url 'room' item.id %}"><img class="img-fluid" src="{{item.roomimg.url}}" alt=""></a>
                                        <div style="background-color: #8b8b8b1f!important;" class="card-body">
                                            <h4><a href="{% url 'room' item.id %}">{{item.title}}</a></h4>
                                        </div>
                                    </div>
									{% endfor %}
									{% endif %}
                                    
								</div>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}