{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
Items In Cart
{% endblock title %}
{% block content %}
<div class="inner-banner">
    <section class="w3l-breadcrumb text-left py-sm-5 ">
        <div class="container">
            <div class="w3breadcrumb-gids">
                <div class="w3breadcrumb-left text-left">
                </div>
                <div class="w3breadcrumb-right mt-5 mb-3" >
                    <ul class="breadcrumbs-custom-path mt-5">
                        <li><a href="{% url 'myCart' %}">My Cart</a></li>
                        <li class="active"><span class="fa fa-hand-o-left hand-icon mx-2"></span>Items In Cart </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
</div>
<section  class="kinging-mag-main">
    <br><br>
	<div  class="mag-content-inf py-5">
		<div  class="container">
			<div  class="blog-inner-grids py-md-4 row">	
				<div class="mag-content-left-hny col-lg-9">
                    <section  >
                        <div style="padding-left: 0px; padding-right: 0px;" class="container">
                    
                            <div class="row">                    
                                <div  class="col-md-5 mb-4">
                                    <div style="padding-left: 0px; padding-right: 0px;" class="card ">
                                        <h4 class=" text-center mt-4 mb-2">Booking Detail</h4>
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="color: var(--heading-color);">Delet</th>
                                                    <th style="color: var(--heading-color);">Room</th>
                                                    <!-- <th style="color: var(--heading-color);">Name</th> -->
                                                    <th style="color: var(--heading-color);">Days</th>
                                                    <th style="color: var(--heading-color);">Price</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                    
                                                {% if cart %}
                                                  {% for item in cart.cartroom_set.all %}
                                                  <tr>
                                                    <td>
                                                        <a href="{% url 'manageCart' item.id %}?action=rmv "><i style="color: #ff7800!important;" class="fa fa-trash"></i></a>
                                                    </td>
                                                    <!-- <td> 
                                                        <img src="{{ item.room.roomimg.url }}" width="100" alt="" class="img-fluid">
                                                    </td> -->
                                                    <td style="color: var(--heading-color);">{{item.room.title}}</td>
                                                    
                                                    <td  >
                                                        <a href="{% url 'manageCart' item.id %}?action=dcr "><i style="color: #ff7800!important;" class="fa fa-minus-circle"></i></a>
                                                        <span class="border border-dark p-2 m-1 ">
                                                            {{item.quantity}} 
                                                        </span>
                                                        <a href="{% url 'manageCart' item.id %}?action=inc "><i style="color: #ff7800!important;" class="fa fa-plus-circle"></i></a>
                                                    </td>
                                                    <td style="color: var(--heading-color);"><strong> &#8358; {{item.rate | intcomma}}</strong></td>
                                                  </tr>
                                                 
                                                  {% endfor %}
                                                  <tr>
                                                    <th colspan="6">
                                                       <h4 style="color: var(--heading-color);">Total : &#8358; {{cart.total | intcomma}}</h4> 
                                                    </th>
                                                  </tr>
                                                {% else %}
                                                    <tr>
                                                        <p class="lead bg-danger text-white p-3">No Item In Cart</p>
                                                    </tr>
                                                {% endif %}
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="d-grid mb-3">
                                                            <a style="background-color: #ff7800; color: white!important;" href="{% url 'rooms' %}" class="btn btn-outline-success">
                                                            Back to Rooms
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                 
                                </div>
                                <div class="col-md-4">
                                    <div class="card p-3">
                                        <h4 class=" text-center mb-3 mt-2">Booking Information</h4>
                                        <form style="color: var(--heading-color);" action="" method="POST">
                                            {% csrf_token %}
                                        <input type="hidden" value="vAqJENxUv2iRNElDJKf1KSyvJAvvnkbf0cIz9DxpQBe32hRl2IQbt11t2flBCMYm">
                                        
                                       <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <p>
                                                <label style="font-size: 14px;" for="checkin">Check In</label>
                                                <input type="date" name="check_in" class="form-control " placeholder="Check In" required="">
                                            </p>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <p>
                                                <label style="font-size: 14px;"  for="checkout">Check Out</label>
                                                <input type="date" name="check_out" class="form-control " placeholder="Check In" required="">
                                               </p> 
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <p>
                                                <input type="number" name="adults" class="form-control mb-3" value="" placeholder="Adults" required="">

                                            </p>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <p>
                                                <input type="number" name="children" class="form-control  " value="" placeholder="children" required="">

                                               </p> 
                                        </div>
                                       
                                            <p style="padding-left: 1.5rem; padding-right: 1.5rem;">
                                                <select class="form-control mb-3" name="gender" aria-placeholder="Gender" required="">
                                                    <option style="color: var(--heading-color);" selected="" disabled="" value=""> Gender</option>
                                                    <option style="color: var(--heading-color);" value="female"> Female</option>
                                                    <option style="color: var(--heading-color);" value="male"> Male</option>
                                                </select> 
                                            </p>
                                        <p style="padding-left: 1.5rem; padding-right: 1.5rem;">          
                                        <input type="text" name="booked_by" class="form-control mb-3" placeholder="Full name" maxlength="200" required="" id="id_booked_by">
                                        </p>
                                        <p style="padding-left: 1.5rem; padding-right: 1.5rem;">
                                        <input type="text" name="address" class="form-control mb-3" placeholder="Delivery address" maxlength="200" required="" id="id_address">
                                        </p>
                                        <p style="padding-left: 1.5rem; padding-right: 1.5rem; color: var(--heading-color)!important;">
                                        <input  type="text" name="mobile" class="form-control mb-3" placeholder="Mobile number" maxlength="11" required="" id="id_mobile">
                                        </p>
                                        <p style="padding-left: 1.5rem; padding-right: 1.5rem;">
                                        <input type="text" name="email" class="form-control mb-1" placeholder="Email id" maxlength="254" id="id_email">
                                        </p>
                                        
                                        <p id="checkout" style="padding-left: 1.5rem; padding-right: 1.5rem;">
                                        <label style="color: var(--heading-color); font-size: 16px;
                                        " for="id_payment_method">Payment method<span class="fa fa-hand-o-right hand-icon mx-2"></span></label>
                                        <select class="text-center" style="height: 3rem;" name="payment_method" id="id_payment_method">
                                        <option value="Paystack" selected="">Paystack</option>
                                        <option value="Payment Transfer">Payment Transfer</option>
                                        <option value="Cash On Arrival">Cash On Delivery</option>
                                        </select>
                                        </p>
                                            <div class="d-grid mt-3">
                                                <button style="background-color: #ff7800; color: white; " type="submit" class="btn btn-info">Book Now</button>
                                            </div>
                                       </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
					
			    </div>          
				<div class="mag-content-right-hny col-lg-3">
					<aside>
						<div class="side-bar-hny-recent mb-2">
							<div style="background-color: #8b8b8b1f!important;" class="card-body mb-3">
                                <h4 class=" text-center">OUR ROOMS</h4>
                            </div>
							<div class="mag-small-post dont-miss-grids-inf">
								<div class="maghny-gd-1">
									{% if rooms %}
							        {% for item in rooms %}
									<div class="card mb-2">
                                        <!-- <a href="{% url 'room' item.id %}"><img class="img-fluid" src="{{item.roomimg.url}}" alt=""></a> -->
                                        <div style="background-color: #8b8b8b1f!important;" class="card-body">
                                            <h4><a href="{% url 'room' item.id %}">{{item.title}}</a></h4>
                                        </div>
                                    </div>
									{% endfor %}
									{% endif %}
                                    
								</div>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}



