{% extends "base.html" %}
{% load static %}
{% block title %}
Contact Us
{% endblock title %}

{% block content %}
<div class="inner-banner py-5">
    <section class="kinging-breadcrumb text-left py-sm-5 ">
        <div class="container">
            <div class="w3breadcrumb-gids">
                <div class="w3breadcrumb-left text-left">
                    <br><br>
                    <h2 class="inner-w3-title mt-lg-5 mt-4 text-center">
                        Contact Us </h2>
                </div>
                <div class="w3breadcrumb-right">
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <!-- <li class="active"><span class="fas fa-arrow-right mx-2"></span>Contact Us</li> -->
                    </ul>
                </div>
            </div>

        </div>
    </section>
</div>
<div class="kinging-contact-10 py-5" id="contact">
    <div class="form-41-mian pt-md-5 pt-3">
        <div class="container">
            <div class="row contacts-5-grid-main mb-5">
                <div class="col-lg-6 contacts-5-grid pe-lg-5">
                    <h5 class="title-subw3hny">Contact our team</h5>
                    <h3 class="title-kinging mb-3">Get in touch with us</h3>
                    <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elitull am aliqu am, velit rutrum dictum lobortis, turpis justo auc tor quam, a auctor lorem odio in nunc.</p>
                    <h4 class="title-kinging-adinf mt-4">Address Info</h4>
                    <div class="address-grid d-flex">
                        <i class="fas fa-map-marker-alt mt-2"></i>
                        <p>Lagos Nigeria - 1060, Eagles Avenue</p>
                    </div>
                    <h4 class="title-kinging-adinf mt-4">Support Center 24/7</h4>
                    <div class="address-grid d-flex">
                        <i class="fas fa-headset mt-2"></i>
                        <p><a href="tel:+(234) 915 8679 909" class="link1">+(234) 915 8679 909</a></p>
                    </div>
                    <div class="address-grid d-flex">
                        <i class="fas fa-envelope"></i>
                        <p class="mt-0"><a href="mailto:kingnze1@gmail.com" class="link1">kingnze1@gmail.com</a></p>

                    </div>
                </div>

                <div class="col-lg-6 form-inner-cont mt-lg-0 mt-4">
                    {% if messages %}
                        {% for item in messages %}
                        <p class="alert alert-success"> {{item}} </p>
                        {% endfor %}
                        {% endif %}
                    <form action="" method="POST" class="signin-form">
                        {% csrf_token %}
                        <div class="form-grids">
                            <div class="form-input">
                                <input type="text"  name="fname" id="kingName" placeholder="First name " required="" />
                            </div>
                            <div class="form-input">
                                <input type="text"  name="lname" id="kingName" placeholder="Last name " required />
                            </div>
                            <div class="form-input">
                                <input type="email" name="email" id="kingSubject" placeholder="Email " required />
                            </div>
                            <div class="form-input">
                                <input type="number" name="phone" id="kingSubject" placeholder="Phone Number " required />
                            </div>
                        </div>
                        <div class="form-input">
                            <textarea name="message" id="w3lMessage" placeholder="Message" required=""></textarea>
                        </div>
                        <div class="w3-submit text-right">
                            <button class="btn btn-style btn-primary">Send Message <i class="fas fa-paper-plane ms-2"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contacts-sub-5 mb-5">
    <div class="contacts-mapw3 position-relative">
        <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d63421.16128265926!2d3.32852899281702!3d6.544074738252792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d6.514278399999999!2d3.3718272!4m5!1s0x103b9231a8afe793%3A0x5f297da31d68daec!2sanchorsoft%20academy!3m2!1d6.5992123!2d3.3465852!5e0!3m2!1sen!2sng!4v1675175003726!5m2!1sen!2sng" style="border:0" allowfullscreen></iframe>
    </div>
</div>
<br>
{% endblock content %}