{% extends "base.html" %}
{% load static %}
{% block title %}
Bank Transfer
{% endblock title %}
{% block content %}
<div class="inner-banner py-5">
    <section class="kinging-breadcrumb text-left py-sm-5 ">
        <div class="container">
            <div class="w3breadcrumb-gids">
                <div class="w3breadcrumb-left text-left">
                    <br><br>
                    <h2 class="inner-w3-title mt-lg-5 mt-4 text-center">Bank Transfer</h2>
                </div>
                <div class="w3breadcrumb-right">
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <!-- <li class="active"><span class="fas fa-arrow-right mx-2"></span>Rooms</li> -->
                    </ul>
                </div>
            </div>

        </div>
    </section>
</div>

<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div style="color: var(--heading-color); background-color: var(--bg-grey)!important; border-radius: 7px; border: solid 2px #ff7800; " class="card-body text-center ">
                    <h3 class="mb-2">First Bank PLC</h3>
                    <p style="color: var(--heading-color);">Account Number : 3107990553</p>
                    <p style="color: var(--heading-color);">Account Statue : Savings</p>
                    <p style="color: var(--heading-color);">Account Name : Nzekwe Chijioke Kingsley</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock content %}