{% extends "base.html" %}

{% block title %} Register Account {% endblock title %}

{% block content %}
<div class="inner-banner py-5">
    <section class="w3l-breadcrumb text-left py-sm-5 ">
        <div class="container">
            <div class="w3breadcrumb-gids">
              <br><br>
                <div class="w3breadcrumb-left text-left">
                    <h2 class="inner-w3-title mt-lg-5 mt-4"></h2>
                </div>
                <div class="w3breadcrumb-right">
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="{% url 'rooms' %}">Register</a></li>
                        <li class="active"><span class="fas fa-arrow-right mx-2"></span>Here</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
</div>

<section class="main-content-w3layouts-agileits">
    <div class="container">
            
            <div  class="row inner-sec">
                <div style="width: 29rem; margin-bottom: 2rem; margin-top: 3rem; " class="login p-5 bg-light mx-auto mw-100">
                    <h3 class="tittle mb-3">Register</h3>
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                        <input style="font-size: 14px;" type="text" name="username" class="form-control" placeholder="Username" required="">
                        </div>
                        <div class="form-group">
                        <input style="font-size: 14px;" type="text" name="first_name" class="form-control" placeholder="First Name" required="">
                        </div>
                        <div class="form-group">
                        <input style="font-size: 14px;" type="text" name="last_name" class="form-control"  placeholder="Last Name" required="">
                        </div>
                        <div class="form-group">
                        <input style="font-size: 14px;" type="text" name="email" class="form-control" placeholder="Email address" required="">
                        </div>
                        <div class="form-group">
                        <input style="font-size: 14px;" type="text" name="password" class="form-control" placeholder="Password" required="">
                        </div>
                        <div class="form-group">
                        <input style="font-size: 14px;" type="text" name="password2" class="form-control" placeholder="Confirm Password" required="">
                        </div>
                        <button style="font-size: 14px;" type="submit" class="btn btn-primary submit mb-4">Register</button>
                        <!-- <p>
                            <a href="#">By clicking Signup, I agree to your terms</a>
                        </p> -->
                    </form>
                </div>
            </div>
    </div>
</section>
<br>
{% endblock content %}